 ![Emil]()

# Travel agency

Today, you are working at a travel agency. All the cities covered by this agency are stored in a Python dictionary.


They need your newly acquired Python skills to develop useful functions!

## Information for one city

The information about a city is provided in a single dictionary. Let's take a look at an example below.

Please note that:
- `location` corresponds to latitude and longitude
- `prefecture_level` is measured in km<sup>2</sup> (squared kilometers)

In [8]:
paris_city = {"name": "Paris",
              "total_population": 2102650,
              "continent": "Europe",
              "location": [48.8566, 2.3522],
              "area": {
                  "prefecture_level": 105.4
              }}

In [9]:
paris_city

{'name': 'Paris',
 'total_population': 2102650,
 'continent': 'Europe',
 'location': [48.8566, 2.3522],
 'area': {'prefecture_level': 105.4}}

What is the data type of the value of `location`? What about `area`?

In [10]:
#your code here
print(type(paris_city['location']))
print(type(paris_city['area']))

<class 'list'>
<class 'dict'>

How do we get the `prefecture_level` from `paris_city` ?

In [11]:
#your code here
paris_city['area']['prefecture_level']

105.4

How do we get the `longitude` from `paris_city` ?

In [12]:
#your code here
paris_city['location'][1]

2.3522

### Create a function

Create a function `get_key_value_from_city`

The function should take two arguments:
- `city`
- `key`

The output should be the corresponding value for the city.

<br>

For example, if we ran the following:

`get_key_value_from_city(city=paris_city, key="total_population")`

Then the output should be `2102650`

<br>

<i><u>Note:</u> If a key doesn't exist, the function should return "_\<key\>_ not defined"</i>

💡 **Before we start coding our function, let's break it down into smaller steps.**

We call this ***pseudo-coding*** and it's a helpful way to breakdown a problem before translating it into code.

1. Define the name of the function and the arguments it needs to take

1. Get a result for when the key does not exist

1. Get a result for when the key does exist

1. Output the result

Step 3 will require an `if statement` that checks for the existence of a specific key in a given city dictionary.

So first, let's remind ourselves of how to write an if statement using the test example we were given above!

Write an if statement that checks for the key `total_population` in the dictionary `paris_city` and (if it exists) prints that value of that key.

The result should be `2102650`

In [13]:
# your code here
if 'total_population' in paris_city.keys():
  print(paris_city['total_population'])

2102650

Fantastic! Now that we know how to access this specific key in a specific dictionary, we're going to use a function to make it work for *any* key in *any* dictionary. That's what makes functions so useful! They allow the same code to be reused over and over again instead of just for one purpose.

For our function, we will need the `if statement` we just wrote in step 3, but obviously we don't always want the output to be `paris_city[total_population]`!

Where you used the word `paris_city` we will need to replace it with `city` and where you used the word `total_population` we will need to replace it with `key`.

The function will then use these arguments as variables. We can even use each argument as many times as we want within our function! We have demonstrated this in the image below 🤯

![Illustration of how an argument is used inside a function](https://wagon-public-datasets.s3.amazonaws.com/data-analytics/06-Python/01-Intro-to-Python-Part1/02-Travel-Agency-Database/Function%20Example.png)

This is how we use arguments in our functions 🤯

In [14]:
def get_key_value_from_city(city, key):
  if key in city.keys():
    print(city[key])
  else:
    print('error')

In [15]:
get_key_value_from_city(paris_city, 'total_population')

2102650

## Information for all cities

OK, let's try out our function on more data! The travel agency has collected multiple cities information where it manages accommodations. \
All of these cities are stored in a Python list called `cities`.

Execute the cell below to load data. How many cities do they have information for?

In [16]:
cities = [
    {
        "name": "Paris",
        "total_population": 2102650,
        "continent": "Europe",
        "location": [48.8566, 2.3522],
        "area": {
            "prefecture_level": 105.4
        }
    },
    {
        "name": "Xi’an",
        "total_population": 12328000,
        "continent": "Asia",
        "location": [34.2667, 108.9000],
        "area": {
            "prefecture_level": 10762
        }
    },
    {
        "name": "Chengdu",
        "total_population": 14645000,
        "continent": "Asia",
        "location": [30.6600, 104.0633],
        "area": {
            "prefecture_level": 14378
        }
    },
    {
        "name": "Los Angeles",
        "total_population": 12121244,
        "continent": "North America",
        "location": [34.1141, -118.4068],
        "area": {
            "prefecture_level": 1299
        }
    },
    {
        "name": "Brooklyn",
        "total_population": 2736074,
        "continent": "North America",
        "location": [40.6501, -73.9496],
        "area": {
            "prefecture_level": 180
        }
    }
]

In [17]:
#your code here
len(cities)

5

### Reading value

By utilizing your previous function `get_key_value_from_city` create a new one that will take two arguments: a `city_name` and a `key`.

If the city is not in the list, the function should return "*city* doesn't exist or is not covered".

Test your function with multiple examples.

In [18]:
# create the function with the selected arguments
def retrieve_city_key_value_database(city_name, key):

  for i in range(len(cities)):
    if city_name == cities[i]['name']:
      print(cities[i][key])

  if city_name not in [city['name'] for city in cities]:
    print('city doesn`t exist or is not covered')

In [19]:
retrieve_city_key_value_database('Paris', 'total_population')

2102650

### Update value

Sometimes, city information can be incorrect or require updates.

Create a `modify_city_key_value` function that replaces an existing key's value with a new one. \
It takes three arguments: a `city_name`, a `key` and a new`value` to assign to the key.

The function will generate a text message indicating one of the following scenarios:

- If the city doesn't exist or is not covered: "*city* doesn't exist or is not covered."
- If the provided key doesn't exist: "*key* doesn't exist."
- If the key has been successfully updated for the city: "*key* has been updated for *city*."

In [20]:
# create the function with the selected arguments

def modify_city_key_value(city_name, key, value):

  for i in range(len(cities)):
    if city_name == cities[i]['name']:
      cities[i][key]= value
      print('key has been updated for city')

  if city_name not in [city['name'] for city in cities]:
    print('city doesn`t exist or is not covered')

In [21]:
modify_city_key_value('Paris', 'total_population', 0)

key has been updated for city

In [22]:
cities[0]

{'name': 'Paris',
 'total_population': 0,
 'continent': 'Europe',
 'location': [48.8566, 2.3522],
 'area': {'prefecture_level': 105.4}}

## Search engine

It is quite common for customers to seek destinations that are not far from their current location in order to minimize transportation costs.


The travel agency requires your assistance in developing a function that can provide a list of nearby cities.

### Geopy

Execute the two cells below to see to observe how we can calculate the distance between two locations. \
Thanks to the [Geopy](https://geopy.readthedocs.io/en/stable/#) library,  this process is quite straightforward.

In [23]:
#!pip install geopy
from geopy import distance

In [24]:
newport_ri = [41.49008, -71.312796]
cleveland_oh = [41.499498, -81.695391]

print(distance.distance(newport_ri, cleveland_oh).km)

866.4554329098685

What is the data type of `distance.distance(newport_ri, cleveland_oh)`?

In [29]:
#your code here
print(type(newport_ri))
print(type(cleveland_oh))

<class 'list'>
<class 'list'>

<details>
    <summary>Answer 💡</summary>
    
It's a `geopy.distance.geodesic` object.
</details>

### Design the search engine

Create a function `get_cities_nearby` that takes two arguments:
- `customer_location`: a list of coordinates in the format [lat, long]


- `radius`: the threshold in km

And returns a `list of cities` located near the provided customer_location.

If no city has been found, the function should return an empty list.

You can use the city of Guangyan in China (coordinates [32.4355, 105.8436]) and a radius of 500km to test your function.

You should find that Xi'an and Chengdu are not very far...

In [30]:
# create the function with the selected arguments

def get_cities_nearby(customer_location, radius):
    cities_in_range = []
    for city in cities:
        if distance.distance(customer_location, city['location']).km <= radius:
            cities_in_range.append(city['name'])
    if len(cities_in_range) > 0:
        print(cities_in_range)
    else: 
        print('No cities in range')

In [31]:
get_cities_nearby([32.4355, 105.8436], 500)

['Xi’an', 'Chengdu']

Congratulations ! 🎉 \
You now have a search function ready for the travel agents to use !