 ![Emil]()

# Recall DataFrame Basics

Execute the following cell

In [1]:
import pandas as pd

df = pd.DataFrame({"A": [1, 2, 3, 4, 5, 6],
                   "B": [7, 8, 9, 10, 11, 12],
                   "C": [13, 14, 15, 16, 17, 18],
                   "D": ["a", "a", "a", "b", "b", "b"],
                   "E": ["c", "d", "c", "d", "c", "d"]})

## DataFrame attributes

Display `df` columns and index names

In [2]:
#your code here
df

   A   B   C  D  E
0  1   7  13  a  c
1  2   8  14  a  d
2  3   9  15  a  c
3  4  10  16  b  d
4  5  11  17  b  c
5  6  12  18  b  d

## Play with DataFrame columns

Put column B in a variable `df_B`. What is the type of this variable?

In [4]:
#your code here
df_B = df['B']
print(type(df_B))

<class 'pandas.core.series.Series'>

Does the following code change anything? Why?


`df_B = df[["B"]]`

In [5]:
#your code here
df_B = df[['B']]
print(type(df_B))

<class 'pandas.core.frame.DataFrame'>

Create a column F filled with 12

In [6]:
#your code here
df['F'] = 12
print(df['F'])

0    12
1    12
2    12
3    12
4    12
5    12
Name: F, dtype: int64

Create a DataFrame `df_E_B` containing columns B and E. We want column E to be **before** column B.

In [7]:
#your code here
df_E_B = df[['E', 'B']]
print(df_E_B)

   E   B
0  c   7
1  d   8
2  c   9
3  d  10
4  c  11
5  d  12

## Filter a DataFrame

Display rows 1 to 3 and columns B, C, D from `df` DataFrame.

In [ ]:
#your code here
print(df[['B', 'C', 'D']].iloc[1:4])

    B   C  D
1   8  14  a
2   9  15  a
3  10  16  b

Why does this line of code cause an error?

In [10]:
#df.iloc[1:3, ["B", "C", "D"]]

> **YES** IndexError: .iloc requires numeric indexers, got ['B' 'C' 'D']

## Boolean Indexing

Select rows from `df` where the value in column B is greater than or equal to 8.

In [11]:
#your code here
print(df[df['B'] > 8])

   A   B   C  D  E   F
2  3   9  15  a  c  12
3  4  10  16  b  d  12
4  5  11  17  b  c  12
5  6  12  18  b  d  12

Select rows from df where the value in column B is greater than or equal to 8 and the value in column D is equal to "a".

In [15]:
#your code here
print(df[(df['B'] >= 8 )& (df['D'] == 'a')])

   A  B   C  D  E   F
1  2  8  14  a  d  12
2  3  9  15  a  c  12

What does this line of code do?

In [20]:
df.loc[df["E"]=="c", "A"] = 8
df

   A   B   C  D  E   F
0  8   7  13  a  c  12
1  2   8  14  a  d  12
2  8   9  15  a  c  12
3  4  10  16  b  d  12
4  8  11  17  b  c  12
5  6  12  18  b  d  12

## Operations on DataFrame columns

Calculate the average of columns A, B and F **by using the pd.DataFrame() [inbuilt function](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html).**

In [21]:
#your code here
print(df[['A', 'B', 'F']].mean())

A     6.0
B     9.5
F    12.0
dtype: float64

What happens if we repeat the previous instruction but pass **axis=1** as parameter to `.mean()`function?

In [22]:
#your code here
print(df[['A', 'B', 'F']].mean(axis=1))

0     9.000000
1     7.333333
2     9.666667
3     8.666667
4    10.333333
5    10.000000
dtype: float64